{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Editar Material{% else %}Novo Material{% endif %}
{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Editar Material{% else %}Novo Material{% endif %}</h2>

<form method="post" novalidate>
    {% csrf_token %}

    <label for="{{ form.name.id_for_label }}">Nome:</label>
    {{ form.name }}
    {% if form.name.errors %}
        <div>
            {{ form.name.errors }}
        </div>
    {% endif %}

    <label for="{{ form.category.id_for_label }}">Categoria:</label>
    {{ form.category }}
    {% if form.category.errors %}
        <div>
            {{ form.category.errors }}
        </div>
    {% endif %}

    <label for="{{ form.total_quantity.id_for_label }}">Quantidade Total:</label>
    {{ form.total_quantity }}
    {% if form.total_quantity.errors %}
        <div>
            {{ form.total_quantity.errors }}
        </div>
    {% endif %}

    <label for="{{ form.available_quantity.id_for_label }}">Quantidade Disponivel:</label>
    {{ form.available_quantity }}
    {% if form.available_quantity.errors %}
        <div>
            {{ form.available_quantity.errors }}
        </div>
    {% endif %}

    <label for="{{ form.description.id_for_label }}">Descrição:</label>
    {{ form.description }}
    {% if form.description.errors %}
        <div>
            {{ form.description.errors }}
        </div>
    {% endif %}

    <label for="{{ form.location.id_for_label }}">Localização:</label>
    {{ form.location }}
    {% if form.location.errors %}
        <div>
            {{ form.location.errors }}
        </div>
    {% endif %}

    <a href="{% url 'material_list' %}">Cancelar</a>
    <button type="submit">Salvar</button>
</form>
{% endblock %}
